version: 2
updates:
  - package-ecosystem: "pip"
    directory: "./environment/tools/python"
    schedule:
      interval: "weekly"
    groups:
      pip-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/environment/tools/node"
    schedule:
      interval: "weekly"
    groups:
      npm-tools:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "./"
    schedule:
      interval: "weekly"
    groups:
      docker-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      workflow-dependencies:
        patterns:
          - "*"
