name: Lint Dockerfile
permissions:
  contents: read

on:
  push:
    paths:
      - nvim.dockerfile
      - .github/workflows/lint_dockerfile.yml
      - .hadolint.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: nvim.dockerfile
